<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome to EventHub</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
<h2>Hi <span th:text="${recipientName}">User</span></h2>
<p>Welcome to <strong>EventHub</strong> – we’re thrilled to have you on board!</p>

<p>This is your space to plan, host,engage & grow your audience. Discover events and bring your community together with powerful tools for hosting productive online and in-person event</p>

<div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <div style="padding: 10px; background-color: #007bff; color: white; border-radius: 5px; border: 3px solid gray">
        Find Events Easily
    </div>
    <div style="padding: 10px; background-color: #007bff; color: white; border-radius: 5px; border: 3px solid gray">
        Manage & collaborate on events
    </div>
    <div style="padding: 10px; background-color: #007bff; color: white; border-radius: 5px; border: 3px solid gray">
        Connect to zoom
    </div>
</div>
<button style="margin-top: 20px; padding: 10px 20px; background-color: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer;">
    <a href="" style="color: white; text-decoration: none;">Get Started</a>
</button>
</body>
</html>
